<label class="md:w-2/3 block text-grey font-bold">
  <input class="mr-2 leading-tight" type="checkbox" checked={{@checked}} {{on "change" (fn @onChange (not @checked))}}>
  <span class="text-sm">
    Show task on the calendar
  </span>
</label>