<div class="rounded mx-2 mb-2 px-2 pt-2 pb-1 bg-blue flex">
  <div class="text-white text-xs flex-grow">
    {{@task.description}}
  </div>
  <div>
    <Icon @key="taskDetail" @title="Detail" class="text-white h-4" />
  </div>
</div>