{{#if @task.completedAt}}
  <li class="list-reset bg-grey-dark text-white rounded my-3 pb-1 pt-2 px-1 text-sm font-system-ui">
    <div class="flex">
      <div class="flex-auto font-sans">{{@task.description}}</div>
      {{#if @task.detail}}
        <div class="px-2">
          <Icon @key="taskDetail" @title="task detail" class="fill-current text-white h-4" />
        </div>
      {{/if}}
    </div>
  </li>
{{else}}
  <li class="list-reset bg-blue-darker text-white rounded my-3 pb-1 pt-2 px-1 text-sm font-system-ui">
    <div class="flex">
      <div class="flex-auto font-sans">{{@task.description}}</div>
      {{#if @task.detail}}
        <div class="px-2">
          <Icon @key="taskDetail" @title="task detail" class="fill-current text-white h-4" />
        </div>
      {{/if}}
      <div class="px-2">
        <Icon @key="edit" @title="edit task" class="fill-current text-white h-4" />
      </div>
      <div class="px-2">
        <Icon @key="tick" @title="complete task" class="fill-current text-white h-4" />
      </div>

    </div>
  </li>
{{/if}}


