
<div class="text-center">
  <h1 class="font-mono font-thin text-center tracking-wider inline-block">
    {{yeild}}
  </h1>
  <div class="bg-blue-background rounded-full p-1.5 text-2xl ml-8 shadow-inset w-10 inline-block" style="position: relative;top: -4px;">
  <!--<div class="border-2 border-grey-dark rounded-full w-10 inline-block text-2xl p-1.5" style="position: relative;top: -4px;">-->
    <span style="position: relative; top: 0.1rem">
      {{@count}}
    </span>
  </div>
</div>


  <!--<div>-->
    <!--<span class="relative rounded-full h-12 w-12 text-2xl flex items-center justify-center border border-grey-darkest">-->
        <!-- 4 -->
    <!--</span>-->
  <!--</div>-->