<div class="text-center">
  <h1 class="font-mono font-thin text-center tracking-wider inline-block">
    {{yield}}
  </h1>
  <div class="bg-blue-background rounded-full p-1.5 text-2xl ml-8 shadow-inset w-10 inline-block" style="position: relative;top: -4px;">
    <span style="position: relative; top: 0.1rem">
      {{@count}}
    </span>
  </div>
</div>