<form {{on "submit" this.login}}>
  <label for="email">Email:</label>
  <input type="text" id="email">

  <label for="password">Password:</label>
  <input type="password" id="password">

  <button type="submit">Login</button>
  {{#if this.loginFailureMessage}}
    <div>
      {{this.loginFailureMessage}}
    </div>
  {{/if}}
</form>