<div class="flex flex-wrap flex-col-reverse lg:flex-row">
  <div class="w-full lg:w-1/2">
    <DashboardTaskLists @tasks={{this.model}} />
  </div>
  <div class="w-full lg:w-1/2">
    <h1>Calendar</h1>
    <CalendarDay />
  </div>

</div>